agiv-security-demo/src/wsdl/ClaimsAwareService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.agiv.be"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.agiv.be">
	<xs:element name="GetData">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="value" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetDataResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="GetDataResult" nillable="true"
					type="tns:ArrayOfClaimInfo" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ArrayOfClaimInfo">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="ClaimInfo"
				nillable="true" type="tns:ClaimInfo" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfClaimInfo" nillable="true"
		type="tns:ArrayOfClaimInfo" />
	<xs:complexType name="ClaimInfo">
		<xs:sequence>
			<xs:element minOccurs="0" name="Issuer" nillable="true"
				type="xs:string" />
			<xs:element minOccurs="0" name="Name" nillable="true"
				type="xs:string" />
			<xs:element minOccurs="0" name="OriginalIssuer" nillable="true"
				type="xs:string" />
			<xs:element minOccurs="0" name="Value" nillable="true"
				type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ClaimInfo" nillable="true" type="tns:ClaimInfo" />
</xs:schema>