informatievlaanderen-security-crab-read/src/wsdl/CrabReadService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Gisvl.CrabDecentraal.CrabRead" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" name="CrabReadService" targetNamespace="http://Gisvl.CrabDecentraal.CrabRead">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Gisvl.CrabDecentraal.CrabRead/Imports">
      <xsd:import schemaLocation="http://crab.beta.agiv.be/Read/CrabReadService.svc?xsd=xsd0" namespace="http://Gisvl.CrabDecentraal.CrabRead"/>
      <xsd:import schemaLocation="http://crab.beta.agiv.be/Read/CrabReadService.svc?xsd=xsd3" namespace="http://www.agiv.be/ErrorHandling/2010/04"/>
      <xsd:import schemaLocation="http://crab.beta.agiv.be/Read/CrabReadService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
      <xsd:import schemaLocation="http://crab.beta.agiv.be/Read/CrabReadService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Gisvl.CrabDecentraal.Domain"/>
      <xsd:import schemaLocation="http://crab.beta.agiv.be/Read/CrabReadService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
      <xsd:import schemaLocation="http://crab.beta.agiv.be/Read/CrabReadService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Gisvl.CrabDecentraal.ReadContract"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICrabRead_FindAdres_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAdres"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_FindAdres_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAdresResponse"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_FindAdres_FaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q1="http://www.agiv.be/ErrorHandling/2010/04" name="detail" element="q1:FaultDetail"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_FindGebouw_InputMessage">
    <wsdl:part name="parameters" element="tns:FindGebouw"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_FindGebouw_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindGebouwResponse"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_FindGebouw_FaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q2="http://www.agiv.be/ErrorHandling/2010/04" name="detail" element="q2:FaultDetail"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_FindPerceel_InputMessage">
    <wsdl:part name="parameters" element="tns:FindPerceel"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_FindPerceel_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindPerceelResponse"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_FindPerceel_FaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q3="http://www.agiv.be/ErrorHandling/2010/04" name="detail" element="q3:FaultDetail"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_FindStraat_InputMessage">
    <wsdl:part name="parameters" element="tns:FindStraat"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_FindStraat_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindStraatResponse"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_FindStraat_FaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q4="http://www.agiv.be/ErrorHandling/2010/04" name="detail" element="q4:FaultDetail"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_FindWegverbinding_InputMessage">
    <wsdl:part name="parameters" element="tns:FindWegverbinding"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_FindWegverbinding_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindWegverbindingResponse"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_FindWegverbinding_FaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q5="http://www.agiv.be/ErrorHandling/2010/04" name="detail" element="q5:FaultDetail"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_GetAdres_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAdres"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_GetAdres_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdresResponse"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_GetAdres_FaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q6="http://www.agiv.be/ErrorHandling/2010/04" name="detail" element="q6:FaultDetail"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_GetGebouw_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGebouw"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_GetGebouw_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGebouwResponse"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_GetGebouw_FaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q7="http://www.agiv.be/ErrorHandling/2010/04" name="detail" element="q7:FaultDetail"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_GetPerceel_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPerceel"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_GetPerceel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPerceelResponse"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_GetPerceel_FaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q8="http://www.agiv.be/ErrorHandling/2010/04" name="detail" element="q8:FaultDetail"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_GetStraat_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStraat"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_GetStraat_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStraatResponse"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_GetStraat_FaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q9="http://www.agiv.be/ErrorHandling/2010/04" name="detail" element="q9:FaultDetail"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_GetWegverbinding_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWegverbinding"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_GetWegverbinding_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWegverbindingResponse"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_GetWegverbinding_FaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q10="http://www.agiv.be/ErrorHandling/2010/04" name="detail" element="q10:FaultDetail"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_ListGemeente_InputMessage">
    <wsdl:part name="parameters" element="tns:ListGemeente"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_ListGemeente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListGemeenteResponse"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_ListGemeente_FaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q11="http://www.agiv.be/ErrorHandling/2010/04" name="detail" element="q11:FaultDetail"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_ListPostcodeByGemeente_InputMessage">
    <wsdl:part name="parameters" element="tns:ListPostcodeByGemeente"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_ListPostcodeByGemeente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListPostcodeByGemeenteResponse"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_ListPostcodeByGemeente_FaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q12="http://www.agiv.be/ErrorHandling/2010/04" name="detail" element="q12:FaultDetail"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_ListStraatnaamByGemeente_InputMessage">
    <wsdl:part name="parameters" element="tns:ListStraatnaamByGemeente"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_ListStraatnaamByGemeente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListStraatnaamByGemeenteResponse"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_ListStraatnaamByGemeente_FaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q13="http://www.agiv.be/ErrorHandling/2010/04" name="detail" element="q13:FaultDetail"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_ListRrStraatcodeByStraatnaam_InputMessage">
    <wsdl:part name="parameters" element="tns:ListRrStraatcodeByStraatnaam"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_ListRrStraatcodeByStraatnaam_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListRrStraatcodeByStraatnaamResponse"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_ListRrStraatcodeByStraatnaam_FaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q14="http://www.agiv.be/ErrorHandling/2010/04" name="detail" element="q14:FaultDetail"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_ListDomeinCategorie_InputMessage">
    <wsdl:part name="parameters" element="tns:ListDomeinCategorie"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_ListDomeinCategorie_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListDomeinCategorieResponse"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_ListDomeinCategorie_FaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q15="http://www.agiv.be/ErrorHandling/2010/04" name="detail" element="q15:FaultDetail"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_ListDomeinWaardeByCategorie_InputMessage">
    <wsdl:part name="parameters" element="tns:ListDomeinWaardeByCategorie"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_ListDomeinWaardeByCategorie_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListDomeinWaardeByCategorieResponse"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_ListDomeinWaardeByCategorie_FaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q16="http://www.agiv.be/ErrorHandling/2010/04" name="detail" element="q16:FaultDetail"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_QueryAdres_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryAdres"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_QueryAdres_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryAdresResponse"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_QueryAdres_FaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q17="http://www.agiv.be/ErrorHandling/2010/04" name="detail" element="q17:FaultDetail"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_QueryGebouw_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryGebouw"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_QueryGebouw_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryGebouwResponse"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_QueryGebouw_FaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q18="http://www.agiv.be/ErrorHandling/2010/04" name="detail" element="q18:FaultDetail"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_QueryPerceel_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryPerceel"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_QueryPerceel_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryPerceelResponse"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_QueryPerceel_FaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q19="http://www.agiv.be/ErrorHandling/2010/04" name="detail" element="q19:FaultDetail"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_QueryStraat_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryStraat"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_QueryStraat_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryStraatResponse"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_QueryStraat_FaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q20="http://www.agiv.be/ErrorHandling/2010/04" name="detail" element="q20:FaultDetail"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_QueryWegverbinding_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryWegverbinding"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_QueryWegverbinding_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryWegverbindingResponse"/>
  </wsdl:message>
  <wsdl:message name="ICrabRead_QueryWegverbinding_FaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q21="http://www.agiv.be/ErrorHandling/2010/04" name="detail" element="q21:FaultDetail"/>
  </wsdl:message>
  <wsdl:portType name="ICrabRead">
    <wsdl:operation name="FindAdres">
      <wsdl:input wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/FindAdres" message="tns:ICrabRead_FindAdres_InputMessage"/>
      <wsdl:output wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/FindAdresResponse" message="tns:ICrabRead_FindAdres_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/FindAdresFaultDetailFault" name="FaultDetailFault" message="tns:ICrabRead_FindAdres_FaultDetailFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="FindGebouw">
      <wsdl:input wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/FindGebouw" message="tns:ICrabRead_FindGebouw_InputMessage"/>
      <wsdl:output wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/FindGebouwResponse" message="tns:ICrabRead_FindGebouw_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/FindGebouwFaultDetailFault" name="FaultDetailFault" message="tns:ICrabRead_FindGebouw_FaultDetailFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="FindPerceel">
      <wsdl:input wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/FindPerceel" message="tns:ICrabRead_FindPerceel_InputMessage"/>
      <wsdl:output wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/FindPerceelResponse" message="tns:ICrabRead_FindPerceel_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/FindPerceelFaultDetailFault" name="FaultDetailFault" message="tns:ICrabRead_FindPerceel_FaultDetailFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="FindStraat">
      <wsdl:input wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/FindStraat" message="tns:ICrabRead_FindStraat_InputMessage"/>
      <wsdl:output wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/FindStraatResponse" message="tns:ICrabRead_FindStraat_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/FindStraatFaultDetailFault" name="FaultDetailFault" message="tns:ICrabRead_FindStraat_FaultDetailFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="FindWegverbinding">
      <wsdl:input wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/FindWegverbinding" message="tns:ICrabRead_FindWegverbinding_InputMessage"/>
      <wsdl:output wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/FindWegverbindingResponse" message="tns:ICrabRead_FindWegverbinding_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/FindWegverbindingFaultDetailFault" name="FaultDetailFault" message="tns:ICrabRead_FindWegverbinding_FaultDetailFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetAdres">
      <wsdl:documentation>ApplyCyclicDataContractResolverAttribute</wsdl:documentation>
      <wsdl:input wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/GetAdres" message="tns:ICrabRead_GetAdres_InputMessage"/>
      <wsdl:output wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/GetAdresResponse" message="tns:ICrabRead_GetAdres_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/GetAdresFaultDetailFault" name="FaultDetailFault" message="tns:ICrabRead_GetAdres_FaultDetailFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetGebouw">
      <wsdl:documentation>ApplyCyclicDataContractResolverAttribute</wsdl:documentation>
      <wsdl:input wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/GetGebouw" message="tns:ICrabRead_GetGebouw_InputMessage"/>
      <wsdl:output wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/GetGebouwResponse" message="tns:ICrabRead_GetGebouw_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/GetGebouwFaultDetailFault" name="FaultDetailFault" message="tns:ICrabRead_GetGebouw_FaultDetailFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetPerceel">
      <wsdl:documentation>ApplyCyclicDataContractResolverAttribute</wsdl:documentation>
      <wsdl:input wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/GetPerceel" message="tns:ICrabRead_GetPerceel_InputMessage"/>
      <wsdl:output wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/GetPerceelResponse" message="tns:ICrabRead_GetPerceel_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/GetPerceelFaultDetailFault" name="FaultDetailFault" message="tns:ICrabRead_GetPerceel_FaultDetailFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetStraat">
      <wsdl:documentation>ApplyCyclicDataContractResolverAttribute</wsdl:documentation>
      <wsdl:input wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/GetStraat" message="tns:ICrabRead_GetStraat_InputMessage"/>
      <wsdl:output wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/GetStraatResponse" message="tns:ICrabRead_GetStraat_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/GetStraatFaultDetailFault" name="FaultDetailFault" message="tns:ICrabRead_GetStraat_FaultDetailFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetWegverbinding">
      <wsdl:documentation>ApplyCyclicDataContractResolverAttribute</wsdl:documentation>
      <wsdl:input wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/GetWegverbinding" message="tns:ICrabRead_GetWegverbinding_InputMessage"/>
      <wsdl:output wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/GetWegverbindingResponse" message="tns:ICrabRead_GetWegverbinding_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/GetWegverbindingFaultDetailFault" name="FaultDetailFault" message="tns:ICrabRead_GetWegverbinding_FaultDetailFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="ListGemeente">
      <wsdl:input wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/ListGemeente" message="tns:ICrabRead_ListGemeente_InputMessage"/>
      <wsdl:output wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/ListGemeenteResponse" message="tns:ICrabRead_ListGemeente_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/ListGemeenteFaultDetailFault" name="FaultDetailFault" message="tns:ICrabRead_ListGemeente_FaultDetailFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="ListPostcodeByGemeente">
      <wsdl:input wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/ListPostcodeByGemeente" message="tns:ICrabRead_ListPostcodeByGemeente_InputMessage"/>
      <wsdl:output wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/ListPostcodeByGemeenteResponse" message="tns:ICrabRead_ListPostcodeByGemeente_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/ListPostcodeByGemeenteFaultDetailFault" name="FaultDetailFault" message="tns:ICrabRead_ListPostcodeByGemeente_FaultDetailFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="ListStraatnaamByGemeente">
      <wsdl:input wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/ListStraatnaamByGemeente" message="tns:ICrabRead_ListStraatnaamByGemeente_InputMessage"/>
      <wsdl:output wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/ListStraatnaamByGemeenteResponse" message="tns:ICrabRead_ListStraatnaamByGemeente_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/ListStraatnaamByGemeenteFaultDetailFault" name="FaultDetailFault" message="tns:ICrabRead_ListStraatnaamByGemeente_FaultDetailFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="ListRrStraatcodeByStraatnaam">
      <wsdl:input wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/ListRrStraatcodeByStraatnaam" message="tns:ICrabRead_ListRrStraatcodeByStraatnaam_InputMessage"/>
      <wsdl:output wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/ListRrStraatcodeByStraatnaamResponse" message="tns:ICrabRead_ListRrStraatcodeByStraatnaam_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/ListRrStraatcodeByStraatnaamFaultDetailFault" name="FaultDetailFault" message="tns:ICrabRead_ListRrStraatcodeByStraatnaam_FaultDetailFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="ListDomeinCategorie">
      <wsdl:input wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/ListDomeinCategorie" message="tns:ICrabRead_ListDomeinCategorie_InputMessage"/>
      <wsdl:output wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/ListDomeinCategorieResponse" message="tns:ICrabRead_ListDomeinCategorie_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/ListDomeinCategorieFaultDetailFault" name="FaultDetailFault" message="tns:ICrabRead_ListDomeinCategorie_FaultDetailFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="ListDomeinWaardeByCategorie">
      <wsdl:input wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/ListDomeinWaardeByCategorie" message="tns:ICrabRead_ListDomeinWaardeByCategorie_InputMessage"/>
      <wsdl:output wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/ListDomeinWaardeByCategorieResponse" message="tns:ICrabRead_ListDomeinWaardeByCategorie_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/ListDomeinWaardeByCategorieFaultDetailFault" name="FaultDetailFault" message="tns:ICrabRead_ListDomeinWaardeByCategorie_FaultDetailFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="QueryAdres">
      <wsdl:input wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/QueryAdres" message="tns:ICrabRead_QueryAdres_InputMessage"/>
      <wsdl:output wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/QueryAdresResponse" message="tns:ICrabRead_QueryAdres_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/QueryAdresFaultDetailFault" name="FaultDetailFault" message="tns:ICrabRead_QueryAdres_FaultDetailFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="QueryGebouw">
      <wsdl:input wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/QueryGebouw" message="tns:ICrabRead_QueryGebouw_InputMessage"/>
      <wsdl:output wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/QueryGebouwResponse" message="tns:ICrabRead_QueryGebouw_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/QueryGebouwFaultDetailFault" name="FaultDetailFault" message="tns:ICrabRead_QueryGebouw_FaultDetailFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="QueryPerceel">
      <wsdl:input wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/QueryPerceel" message="tns:ICrabRead_QueryPerceel_InputMessage"/>
      <wsdl:output wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/QueryPerceelResponse" message="tns:ICrabRead_QueryPerceel_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/QueryPerceelFaultDetailFault" name="FaultDetailFault" message="tns:ICrabRead_QueryPerceel_FaultDetailFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="QueryStraat">
      <wsdl:input wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/QueryStraat" message="tns:ICrabRead_QueryStraat_InputMessage"/>
      <wsdl:output wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/QueryStraatResponse" message="tns:ICrabRead_QueryStraat_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/QueryStraatFaultDetailFault" name="FaultDetailFault" message="tns:ICrabRead_QueryStraat_FaultDetailFault_FaultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="QueryWegverbinding">
      <wsdl:input wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/QueryWegverbinding" message="tns:ICrabRead_QueryWegverbinding_InputMessage"/>
      <wsdl:output wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/QueryWegverbindingResponse" message="tns:ICrabRead_QueryWegverbinding_OutputMessage"/>
      <wsdl:fault wsaw:Action="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/QueryWegverbindingFaultDetailFault" name="FaultDetailFault" message="tns:ICrabRead_QueryWegverbinding_FaultDetailFault_FaultMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS2007FederationHttpBinding_ICrabRead" type="tns:ICrabRead">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="FindAdres">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/FindAdres" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FindGebouw">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/FindGebouw" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FindPerceel">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/FindPerceel" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FindStraat">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/FindStraat" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FindWegverbinding">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/FindWegverbinding" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAdres">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/GetAdres" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetGebouw">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/GetGebouw" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPerceel">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/GetPerceel" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetStraat">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/GetStraat" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetWegverbinding">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/GetWegverbinding" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListGemeente">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/ListGemeente" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListPostcodeByGemeente">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/ListPostcodeByGemeente" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListStraatnaamByGemeente">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/ListStraatnaamByGemeente" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListRrStraatcodeByStraatnaam">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/ListRrStraatcodeByStraatnaam" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListDomeinCategorie">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/ListDomeinCategorie" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListDomeinWaardeByCategorie">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/ListDomeinWaardeByCategorie" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="QueryAdres">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/QueryAdres" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="QueryGebouw">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/QueryGebouw" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="QueryPerceel">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/QueryPerceel" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="QueryStraat">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/QueryStraat" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="QueryWegverbinding">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/QueryWegverbinding" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS2007FederationHttpBinding_ICrabRead1" type="tns:ICrabRead">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="FindAdres">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/FindAdres" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FindGebouw">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/FindGebouw" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FindPerceel">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/FindPerceel" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FindStraat">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/FindStraat" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FindWegverbinding">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/FindWegverbinding" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAdres">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/GetAdres" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetGebouw">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/GetGebouw" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPerceel">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/GetPerceel" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetStraat">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/GetStraat" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetWegverbinding">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/GetWegverbinding" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListGemeente">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/ListGemeente" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListPostcodeByGemeente">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/ListPostcodeByGemeente" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListStraatnaamByGemeente">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/ListStraatnaamByGemeente" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListRrStraatcodeByStraatnaam">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/ListRrStraatcodeByStraatnaam" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListDomeinCategorie">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/ListDomeinCategorie" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListDomeinWaardeByCategorie">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/ListDomeinWaardeByCategorie" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="QueryAdres">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/QueryAdres" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="QueryGebouw">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/QueryGebouw" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="QueryPerceel">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/QueryPerceel" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="QueryStraat">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/QueryStraat" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="QueryWegverbinding">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/QueryWegverbinding" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS2007FederationHttpBinding_ICrabRead2" type="tns:ICrabRead">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="FindAdres">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/FindAdres" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FindGebouw">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/FindGebouw" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FindPerceel">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/FindPerceel" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FindStraat">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/FindStraat" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FindWegverbinding">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/FindWegverbinding" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAdres">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/GetAdres" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetGebouw">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/GetGebouw" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPerceel">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/GetPerceel" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetStraat">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/GetStraat" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetWegverbinding">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/GetWegverbinding" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListGemeente">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/ListGemeente" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListPostcodeByGemeente">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/ListPostcodeByGemeente" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListStraatnaamByGemeente">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/ListStraatnaamByGemeente" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListRrStraatcodeByStraatnaam">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/ListRrStraatcodeByStraatnaam" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListDomeinCategorie">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/ListDomeinCategorie" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListDomeinWaardeByCategorie">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/ListDomeinWaardeByCategorie" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="QueryAdres">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/QueryAdres" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="QueryGebouw">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/QueryGebouw" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="QueryPerceel">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/QueryPerceel" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="QueryStraat">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/QueryStraat" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="QueryWegverbinding">
      <soap12:operation soapAction="http://Gisvl.CrabDecentraal.CrabRead/ICrabRead/QueryWegverbinding" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultDetailFault">
        <soap12:fault name="FaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CrabReadService">
    <wsdl:port name="WS2007FederationHttpBinding_ICrabRead" binding="tns:WS2007FederationHttpBinding_ICrabRead">
      <soap12:address location="http://crab.beta.agiv.be/Read/CrabReadService.svc"/>
      <wsa10:EndpointReference>
        <wsa10:Address>http://crab.beta.agiv.be/Read/CrabReadService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <X509Data>
              <X509Certificate>MIIFMzCCBBugAwIBAgIQMENZbxdEeNCb9b83TtC6kjANBgkqhkiG9w0BAQUFADCBiTELMAkGA1UEBhMCR0IxGzAZBgNVBAgTEkdyZWF0ZXIgTWFuY2hlc3RlcjEQMA4GA1UEBxMHU2FsZm9yZDEaMBgGA1UEChMRQ09NT0RPIENBIExpbWl0ZWQxLzAtBgNVBAMTJkNPTU9ETyBIaWdoIEFzc3VyYW5jZSBTZWN1cmUgU2VydmVyIENBMB4XDTA5MDYxOTAwMDAwMFoXDTEyMDYxODIzNTk1OVowgcYxCzAJBgNVBAYTAkJFMQ8wDQYDVQQREwZCLTEwNjAxGDAWBgNVBAgTD0JydXNzZWxzIEdld2VzdDEQMA4GA1UEBxMHQnJ1c3NlbDEcMBoGA1UECRMTR3VsZGVuLVZsaWVzbGFhbiA3MjEkMCIGA1UEChMbVmxhYW1zZSBMYW5kbWFhdHNjaGFwcGlqIE5WMR0wGwYDVQQLExRQbGF0aW51bVNTTCBXaWxkY2FyZDEXMBUGA1UEAxQOKi5iZXRhLmFnaXYuYmUwgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAJId2cO6hH/y+Inu6vKguuvHKsYc7Q2z2jqCm6TyPVn91SNBI7938a5MNvCwTApI+BhdSAinqr5NRxiDNB2EkltJKPMXaa8P62xeGIMfcDg0jHj0a22XKF0gMFEjGsTN9+HTTCKTyadB2VSDxXZfyxk7rYM69wu6Jr1l7CuNGQu9AgMBAAGjggHaMIIB1jAfBgNVHSMEGDAWgBRgWc2Ax8Xjq4wv/GvlWwr1D95L/zAdBgNVHQ4EFgQUVoEC7lAjHgdEoZb1gJyw0eN2ATYwDgYDVR0PAQH/BAQDAgWgMAwGA1UdEwEB/wQCMAAwNAYDVR0lBC0wKwYIKwYBBQUHAwEGCCsGAQUFBwMCBgorBgEEAYI3CgMDBglghkgBhvhCBAEwRgYDVR0gBD8wPTA7BgwrBgEEAbIxAQIBAwQwKzApBggrBgEFBQcCARYdaHR0cHM6Ly9zZWN1cmUuY29tb2RvLm5ldC9DUFMwTgYDVR0fBEcwRTBDoEGgP4Y9aHR0cDovL2NybC5jb21vZG9jYS5jb20vQ29tb2RvSGlnaEFzc3VyYW5jZVNlY3VyZVNlcnZlckNBLmNybDB/BggrBgEFBQcBAQRzMHEwSQYIKwYBBQUHMAKGPWh0dHA6Ly9jcnQuY29tb2RvY2EuY29tL0NvbW9kb0hpZ2hBc3N1cmFuY2VTZWN1cmVTZXJ2ZXJDQS5jcnQwJAYIKwYBBQUHMAGGGGh0dHA6Ly9vY3NwLmNvbW9kb2NhLmNvbTAnBgNVHREEIDAegg4qLmJldGEuYWdpdi5iZYIMYmV0YS5hZ2l2LmJlMA0GCSqGSIb3DQEBBQUAA4IBAQAcP6ua8vxqR+dMlRjhJnE8YzaTbqdU9c/22H6cpR7rRsfWYZElmnBYviZr0nmcQiQ3QGBqRtQf+97J53JpCs/Dp8OjeH7fWFSAQ9FAigKY2VZ1iLGgYiupIcmI9QRNAT8uMAHu42m3z9ivQEswFOvI1cD4RferIjGwzUE9gGZA18RzJL6NlgsE72TMKa6Oy3b78Gc8maKmMtDHXs7piG6DNq/a/i452kKKKy7h2RQt26JDSDH0ThEyVUUBTuMwa4LzpSlAbzuP+GZCE1JF67DMqD9iRgAiRbrcQ/FvkEF8D2JDiwMD5XkdglOJKGlfzIa7iOlf0N03QDzImPlO1MKr</X509Certificate>
            </X509Data>
          </KeyInfo>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="WS2007FederationHttpBinding_ICrabRead1" binding="tns:WS2007FederationHttpBinding_ICrabRead1">
      <soap12:address location="https://crab.beta.agiv.be/read/crabreadservice.svc/wsfed"/>
      <wsa10:EndpointReference>
        <wsa10:Address>https://crab.beta.agiv.be/read/crabreadservice.svc/wsfed</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="WS2007FederationHttpBinding_ICrabRead2" binding="tns:WS2007FederationHttpBinding_ICrabRead2">
      <soap12:address location="https://crab.beta.agiv.be/read/crabreadservice.svc/wsfedsc"/>
      <wsa10:EndpointReference>
        <wsa10:Address>https://crab.beta.agiv.be/read/crabreadservice.svc/wsfedsc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
